// Common
$color-primary: #007BFF;
$color-secondary: #6C757D;
$color-success: #28A745;
$color-danger: #DC3545;
$color-warning: #FFC107;
$color-info: #17A2B8;
$color-light: #F8F9FA;
$color-dark: #343A40;
$color-white: #FFFFFF;
$color-theme: #3FBCE7;

// Navmenu

// Categories

// Photo

// Toolbar
